*.jpg 
aeegan_artifacts.py
aeegan_perceptual_mod.py
aeegan_perceptual.py
aeegan_wassertein.py
aeegan_ws_l1.py
aeegan.py
DCGAN_perceptual.py
DCGAN.py
generate_aee_perceptual.py

Resources/wips_dataset_list.py
Resources/wips_dataset_v01.py
Resources/Images/
AEE_experiments/
DCGAN_experiments/
Extra/IdentifiantValPhB15022017.xlsx
Extra/MarksData.xlsx


Minimax_experiments/
model_test4/
Generated_images/
BEGAN_experiments/

.vscode/
.conda/